* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;/* Белый */
  --translucent-white: #d7ccc0; /* Полупрозрачный белый */
  --bright: #f5f4f0; /* Светлый */
  --main: #fe8a02; /* Основной */
  --basic-dark: #42413c; /* Основной тёмный */
  --dark: #2a2626; /* Тёмный */
  --translucent-dark: #908d8b; /* Полупрозрачный тёмный */
  --brown: #b09a81;/* Коричневый */
  --blue: #1085c5;  /* Синий */
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  color: var(--dark);
  font-family: "Neucha";
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  width: 1110px;
  margin: 0 auto;   
}

/* Header */

.header {
  position: relative;
  /* height: 914px; */
}

.image-bg::before {
  position: absolute;
  background-image: url(../images/background.png);
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}

.text-orange {
  color: var(--main);
}

.position-header-image {
  position: relative;
  padding-top: 100px;
	padding-bottom: 100px;
}

.header-image-main {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.text-orange {
  line-height: 86px;
}

.text-dark {
  position: relative;
  z-index: 1;
  
  line-height: 72px;
}

.text-wrapper {
  display: flex;
  margin-top: 199px;

  line-height: 26px;
  column-gap: 30px;
}

.header-text {
  flex-basis: 50%;
}

.p-top {
  padding-top: 10px;
}

.btn {
	display: inline-block;
	background-color: var(--main);
	text-transform: uppercase;
	font-weight: 700;
	color: var(--white);
	padding: 12px 24px;
	text-decoration: none;
}

.btn:hover {
	display: inline-block;
	background-color:  #EA7600;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--white);
	padding: 12px 24px;
	text-decoration: none;
}

.header-btn {
	margin-top: 40px;
}

/* Video-section */
.video-section {
    background-color: var(--white);
}
.center {
    text-align: center;
}

.video {
    margin-bottom: -100px;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.p-100 {
    padding-top: 100px;
}

.p-30 {
    padding-bottom: 30px;
}

/* Navigation */

.nav-bg {
    background-color: var(--basic-dark);
}

.nav-text-orange {
    color: var(--main);
}

.nav-text-white {
    color: var(--white);
}

.main-card-title {
    font-size: 52px;
}

.p-200 {
    padding-top: 200px;
    padding-bottom: 100px;
}

.card {
    text-decoration: none;
}

.navigation-inner {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}

.card {
    flex-basis: 350px;
}

.card-link {
    padding: 24px;
    background-color: var(--white);
}

.card-link:hover  {
    color: var(--white);
    background-color: var(--main);
}

.card-link:hover .card-number {
    color: var(--white);;
}

.card-link:hover .card-title {
    color: var(--white);
}

.card-link:hover .card-text {
    color: var(--white);
}


.card-number {
    font-size: 64px;
    font-family: Neucha;
    line-height: 1;
    padding-bottom: 40px;
    color: var(--basic-dark);
}

.card-title {
    padding-bottom: 16px;
    color: var(--main);
}

.card-text {
    color: var(--dark);
}

/* EFFECT IKEA */

.rel-img {
    position: relative;    
}

.effect-image-bg::before {
    position: absolute;
    background-image: url(../images/background.png);
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
}

.effect-flex {
    display: flex;
    column-gap: 30px;
}

.image-effect {
    vertical-align: middle;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.effect-subtitle {
    font-size: 24px;
    font-family: Neucha;
    font-weight: 400;
    line-height: 29px;
    color: var(--translucent-dark);
}

.effect-description {
    font-size: 34px;
    color: var(--dark);
    font-family: Neucha;
    line-height: 41px;
    margin-top: 30px;
}