* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;/* Белый */
  --translucent-white: #d7ccc0; /* Полупрозрачный белый */
  --bright: #f5f4f0; /* Светлый */
  --main: #fe8a02; /* Основной */
  --basic-dark: #42413c; /* Основной тёмный */
  --dark: #2a2626; /* Тёмный */
  --translucent-dark: #908d8b; /* Полупрозрачный тёмный */
  --brown: #b09a81;/* Коричневый */
  --blue: #1085c5;  /* Синий */
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../assets/fonts/Neucha-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  color: var(--dark);
  font-family: "Neucha";
  font-weight: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 914px;
}

.image-bg::before {
  position: absolute;
  background-image: url(../images/background.png);
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
}

.text-orange {
  color: var(--main);
}

.position-header-image {
  position: relative;
  padding-top: 100px;
}

.header-image-main {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.text-orange {
  line-height: 86px;
}

.text-dark {
  position: relative;
  z-index: 1;
  
  line-height: 72px;
}

.text-wrapper {
  display: flex;
  margin-top: 199px;

  line-height: 26px;
  column-gap: 30px;
}

.header-text {
  flex-basis: 50%;
}

.p-top {
  padding-top: 10px;
}
