:root {
    --white: #fff; /* Белый */
    --translucent_white: #d7ccc0; /* Полупрозрачный белый */
    --bright: #f5f4f0; /* Светлый */
    --main: #fe8a02; /* Основной */
    --basic_dark: #42413c; /* Основной тёмный */
    --dark: #2a2626; /* Тёмный */
    --translucent_dark: #908d8b; /* Полупрозрачный тёмный */
    --brown: #b09a81; /* Коричневый */
    --blue: #1085c5; /* Синий */
}

